#education h2 {
    display: flex;
    color: #31F400; 
    border-bottom: 2px solid white; 
    padding: 20px ;
    padding-bottom: 1px; 
    margin-bottom: 20px;
}

#education {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    }
