header {
  background-color: #333;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}


nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

nav ul li button:hover {
  color: #31F400; 
}

nav ul li.active button {
  color: #31F400; 
}
